@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Baloo 2', cursive;
}
input{
    border-radius: 20px;
    color: white;
    border: none;
    background-color: rgb(37, 37, 37);
    padding: 10px;
}
.Unlock{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image{
    background-image: url('https://pngimg.com/d/iphone_12_PNG23.png');
    border-radius: 5px;
}
.ColorButton{
    background: rgb(155,128,212);
background: linear-gradient(90deg, rgba(155,128,212,1) 15%, rgba(130,3,140,1) 85%);
transition: 1s ease-in;
}
#fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.back{
    background-image: url('https://www.apple.com/md/iphone-14-pro/images/overview/design/design_startframe__f5z6xj9zkgmu_large.jpg');
    background-size: cover;
}
