@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
body {
  background-image: url('https://pbs.twimg.com/media/DzxWFqQW0AA-ghJ?format=jpg&name=4096x4096');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Baloo 2', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
